# Git/Github
.git
.github
.gitignore

# Next dev/build outputs
.vercel
/.next/
/out/
/build
/public/*.js

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
*.pem

# Env files
.env*
!.env.example

# Dockerfile
.dockerignore
Dockerfile