# Next dev/build outputs
.vercel
/.next/
/out/
/build
/public/*.js

# Node dependencies
node_modules

# Package Manager
package.json
pnpm-lock.yaml

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
*.pem

# Env files
.env*
!.env.example
